.title-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid gold;
  display: inline-block; /* 添加 display 属性，使其占据适当的宽度 */
}

header h1 {
  letter-spacing: 4px; /* 调整标题的字间距 */
  margin: 0; /* 去除标题的默认上下边距 */
}

body {
  font-size: 40px;
  text-align: center;
  background-size: cover;
  background-image: url("./bg.png");
  background-color: #f3f3f3;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

input {
  width: 180px;
  height: 80px;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: gold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input:hover {
  background-color: #ffd700;
}

#result {
  color: white;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
