.title-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid gold; /* 将边框样式改为金色 */
}

body {
  font-size: 40px;
  text-align: center;
  background-size: cover;
  background-image: url("./bg.png"); /* 更换背景图片 */
  background-color: #f3f3f3; /* 添加备用背景颜色 */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

input {
  width: 180px;
  height: 80px;
  font-size: 50px;
  margin-top: 20px; /* 调整按钮间距 */
  margin-bottom: 20px; /* 调整按钮间距 */
  background-color: gold; /* 更改按钮背景颜色 */
  color: white; /* 更改按钮文本颜色 */
  border: none; /* 去除按钮边框 */
  border-radius: 10px; /* 添加按钮圆角 */
  cursor: pointer; /* 添加鼠标悬停效果 */
  transition: background-color 0.3s, color 0.3s; /* 添加按钮过渡效果 */
}

input:hover {
  background-color: #ffd700; /* 悬停时背景颜色变浅 */
}

#result {
  color: white;
  animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
